:root {
    --main-bg-color: #f1f1f1;
    --title-text-color: #565454;
    --caption-text-color:#9b9b9b;
    --checkbox-bg-color: #ffb300;
    --btn-nav-color: #262652;
    --header-bg-color: #cd9c84;
    --alertbox-bg-color: #ffa5005c;
    --alertbox-text-color: #cf5426;

    
}